.Chats {
   position: relative;
}

.Chats__Header {
   align-items: center;
   background: var(--color-blue);
   display: flex;
   padding: 12px;
}

.Chats__Avatar {
   cursor: pointer;
   height: 24px!important;
   width: 24px!important;
}

.Chats__Search {
   display: flex;
   align-items: center;
   margin: 0 8px;
}

.Chats__SearchIcon {
   color: var(--color-white);
   font-size: 14px!important;
}

.Chats__Search > input {
   background: transparent;
   border: none;
   color: var(--color-white);
   flex: 1;
   font-size: 12px;
   outline: none;
}

.Chats__ChatIcon {
   color: var(--color-white);
   font-size: 18px!important;
}

.Chats__Posts {
   background: var(--color-white);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   box-shadow: 1px -7px 7px -6px rgba(0, 0, 0, 0.44);
   height: 359px;
   margin-top: -9px;
   overflow: scroll;

   /* Scroll Bar */
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}


.Chats__Posts::-webkit-scrollbar {
   display: none;
}

.Chats__CameraButton {
   background: var(--color-white);
   border-radius: 200px;
   bottom: 0;
   color: var(--color-gray);
   cursor: pointer;
   font-size: 40px !important;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}

.Chats__CameraButton:hover {
   opacity: 0.8;
}