.Preview {
   position: relative;
}

.Preview__Close {
   color: var(--color-white);
   cursor: pointer;
   font-size: 18px;
   margin: 8px;
   position: absolute;
   top: 0;
}

.Preview__Toolbar {
   color: var(--color-white);
   display: flex;
   flex-direction: column;
   margin: 8px;
   position: absolute;
   right: 0;
}

.Preview__Toolbar > .MuiSvgIcon-root {
   cursor: pointer;
   font-size: 20px!important;
   margin-bottom: 8px;
}

.Preview__SendButton {
   align-items: center;
   background-color: var(--color-primary);
   border: none;
   border-radius: 28px;
   bottom: 0;
   color: var(--color-black);
   cursor: pointer;
   display: flex;
   justify-content: space-evenly;
   margin: 8px;
   padding: 8px;
   position: absolute;
   right: 0;
}

.Preview__SendIcon {
   font-size: 10px!important;
   margin-left: 8px;
}