@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
   margin: 0;
}

html {
   --color-primary: #fefc01;
   --color-blue: #059ee0;
   --color-red: #ed3b55;
   --color-white: #ffffff;
   --color-black: #000000;
   --color-gray: gray;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
